{% extends "base_generic.html" %}

{% load static %}

{% block title %} <title id="titleId"> Trash Bin {{ pk }} </title> {% endblock %}

{% block content %}

<canvas id="stateChart" width="100%" height="50%"></canvas>

<!-- Include chart.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script src="{% static "map/trash_bin_state_chart.js" %}"></script>

{% endblock %}

{% block buttons %}

<div class="form-group">
    <div class='input-group date' id='datepicker' data-date="0d" data-date-format="yyyy-mm-dd">
        <input type='text' class="form-control"/>
        <span class="input-group-addon" id='calendarButton'>
            <span class="fa fa-calendar">
            </span>
        </span>
    </div>
</div>

{% endblock %}
